<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mytest.coinInfo.mapper.CoinInfoMapper">
	<resultMap type="CoinDto" id="getCoinResultMap">
		<result column="RowId" property="rowId"/>
		<result column="Market" property="market"/>
	</resultMap>
	<select id="getCoin" parameterType="Map" resultMap="getCoinResultMap">
		SELECT
			RowId
			,Market
		FROM
			CoinAllInfo
		ORDER BY 
			createDt
	</select>
</mapper>